* {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

.first {
    background-color: #1f2937;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 150px;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    margin-right: auto;
}

.header-links{
    display: flex;
    list-style-type: none;
    gap: 20px;
}

a {
    text-decoration: none;
}

.header-links a, .main-text {
    color: #e5e7eb;
    font-size: 18px;
}

.header-main {
    display: flex;
    margin: 150px 150px 100px 150px;
    gap: 100px;
}

.main {
    flex: 1;
}

.main-title {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
    margin-bottom: 5px;
}

.main-text {
    margin-bottom: 20px;
}

.button {
    background-color: #3882f6;
    color: #f9f9f9;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;
}

.pic {
    background-color: #808090;
    color: #e5e7eb;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.second {
    text-align: center;
    margin: 50px 250px;
}

.second-title {
    color: #1f2937;
    font-size: 36px;
    font-weight: bolder;
}

.boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.box {
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-border {
    height: 150px;
    width: 150px;
    border: #3882f6 solid 4px;
    border-radius: 15px;
}